ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}
.main_content_div{
    width: 100%;
    background: #FAFAFA;
    padding-top: 10px;

    .time_div{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .time_lbl{
            background-color: #E8E8E8;
            border-radius: 25px;
            font-size: 12px;
            font-family: open-regular;
            padding: 5px 20px;
        }
    }
    .messages_div{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

        .left{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 10px;
            align-items: center;

            .profile_div{
                width: 40px !important;
                align-self: flex-start;
                .user_image{
                    width: 40px;
                    height: 40px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    }
            }

            .left_msg{
                margin-left: 10px;
                width: 60%;
                display: flex;
                .left_msg_div{
                    background: #E8E8E8;
                    padding: 5px 10px;
                    border-radius: 5px;   
                    font-family: open-regular;
                    width: auto;
                    height: auto;
                }
            }
        }
        .right{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            .right_msg{
                    width: 70%;
                    display: flex;
                    justify-content: flex-end;
                    .right_msg_div{
                        background: var(--ion-color-main);
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: white;
                        font-family: open-regular;
                        width: max-content;
                    }
            }
        }
    }
}

ion-footer{
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.9);

    .send_message_div{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 50px;
        align-items: center;
        .camera{
            width: 20px;
            height: 20px;
        }
        ion-input{
            margin-left: 16px;
            width: 100%;
            border-radius: 5px;
            background: #FAFAFA;
            position: relative;
            --padding-start: 8px;
    
            .send_icn{
                position: absolute;
                font-size: 20px;
                right: 10px;
                color: var(--ion-color-main);
            }
        }
    }
}


