ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}
.main_content_div{
    width: 100%;
    padding: 16px;

    .button_div{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .add_btn{
            color: white;
            --background : var(--ion-color-main);
            --border-radius	: 3px;
            --background-activated :var(--ion-color-main);
        }
    }

    .list_div{
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;

        .head_lbl{
            display: block;
            font-family: open-bold;
        }
        .small_lbl{
            display: block;
            font-family: open-regular;
            font-size: 14px;
        } 

        .action_div{
            width: 80px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            position: absolute;
            right: 0;
            top: 40px;
            border-radius: 5px;
            z-index: 99999;
            text-align: center;
            background-color: white;

            .edit{
                color: green;
                font-family: open-regular;
                font-size: 12px;
                border-bottom: 1px solid #E8E8E8;
                height: 30px;
                width: 100;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .delete{
                color: var(--ion-color-main);
                font-family: open-regular;
                font-size: 12px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        .btn{
            position: absolute;
            top: 10px;
            right: 0;
        }
        .menu_btn{
            width: 15px;
        }
    }
}