.main_tab_div{
    width: 100%;
    display: flex;
    height: 60px;

    .tab_inner{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        .single_tab{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;

            .tab_img{
                width: 20px;
            }
            .lbl{
                font-size: 12px;
                font-family: open-regular;
                color: var(--ion-color-light);
            }
            .red_lbl{
                color: var(--ion-color-main);
            }
        }
    }
}