::ng-deep.swiper-pagination-bullet-active {
    background: var(--ion-color-main) !important;
}
.main_content_div{
    width: 100%;
    padding: 20px;
    position: relative;
    height: 100%;

    .button_div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-family: open-regular;
    }

    .slider_div{
        ion-slide{
            height: 65vh;

            .div_slide{
                
                .slider_img{
                    width: 200px;
                }
                .head_lbl{
                    color: var(--ion-color-main);
                    font-size: 24px;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    margin-top: 40px;
                    font-family: open-bold;
                }
                .small_lbl{
                    color : #707070;
                    font-size: 12px;
                    margin-top: 40px;
                    font-family: open-regular;
                }
            }
        }
    }

    .bottom_btn_div{
        position: absolute;
        bottom: 20px;
        width: 90%;
        .red_btn{
            --background : var(--ion-color-main);
            height: 40px;
            --background-activated : var(--ion-color-main);
        }
        .gray_btn{
            margin-top: 10px;
            --background : #F1F0F6;
            color: black;
            height: 40px;
            --background-activated : #F1F0F6;
        }
    }
}