<ion-content scroll-y="false">
  <div class="main_content_div">
    <div class="button_div">
      <ion-button fill="clear" color="danger" slot="end" (click)="goToLogin()">
        Log in
      </ion-button>
    </div>

    <div class="slider_div">
      <ion-slides mode="ios" pager="ios">
        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/pizza.png">
            <ion-label class="head_lbl">Find Foods You Love</ion-label>
            <ion-label class="small_lbl">Discover the best foods from <br> over 1,000 restaurant</ion-label>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/pizza.png">
            <ion-label class="head_lbl">Fast Delivery</ion-label>
            <ion-label class="small_lbl">Fast delivery to home, office <br> and whatever you are</ion-label>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/pizza.png">
            <ion-label class="head_lbl">Live Tracking</ion-label>
            <ion-label class="small_lbl">Rwal time tracking of your food <br> on the app after ordered.</ion-label>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="bottom_btn_div">
      <ion-button (click)="goToRegister()" expand="full" shape="round" class="red_btn">
        Create Account
      </ion-button>

      <ion-button expand="full" shape="round" class="gray_btn">
        Continue with Facebook
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
