ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}

.main_content_div{
    width: 100%;
    padding : 16px;
    .question_div{
        // padding-left: 16px;
        // padding-right: 16px;
        // margin-top: 25px;
        .list_div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            border-bottom: 1px solid #E8E8E8;

            ion-toggle{
                --background-checked : var(--ion-color-main);
                --handle-background-checked	: white;
            }
        }
    }
}