// .ios_test{
//     padding-top: 40px !important;
// }
ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}
.main_content_div{
    width: 100%;

    // .header_div{
    //     width: 100%;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     position: relative;

    //     .btn_back {
    //         position: absolute;
    //         left: 16px;
    //     }
    // }
    .content_div{
      background-color: #FAFAFA;  

      .live_chat_div{
          margin-left: 16px;
          margin-right: 16px;
          background-color: white;
          box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          padding: 15px;
        .first_div{
            width: 60%;
            .head_lbl{
                color: var(--ion-color-main);
                font-family: open-bold;
                font-size: 22px;
                display: block;
            }
            .chat_btn{
                --background: var(--ion-color-main);
                color: white;
            }
        }
        .second_div{
            width: 40%;
            display: flex;
            justify-content: center;
            .chat_img{
                width: 100px;
                height: 100px;
            }
        }
      }

      .question_div{
          padding-left: 16px;
          padding-right: 16px;
          margin-top: 25px;
          .head_lbl{
              font-size: 16px;
              font-family: open-bold;
              margin-bottom: 20px;
              display: block;
          }
          .list_div{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              height: 50px;
              align-items: center;
              border-bottom: 1px solid #E8E8E8;
          }
      }
    }
}