ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}
.main_content_div{
    width: 100%;

    // .header_div{
    //     width: 100%;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     position: relative;

    //     .btn_back {
    //         position: absolute;
    //         left: 16px;
    //     }
    // }

    .product_div{
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 10px;
        margin-bottom: 20px;
        position: relative;
        padding: 16px;

        .image_div{
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100px;
            height: 100px;
        }
        .desc_div{
            margin-left: 20px;
            .heading_lbl{
                font-size: 20px;
                font-family: open-bold;
                display: block;
                text-align: left;
            }
            .small_lbl{
                font-size: 12px;
                color: var(--ion-color-light);
                font-family: open-regular;
                display: block;
                text-align: left;
            }
            .rating{
                color: var(--ion-color-main);
                font-size: 15px;
            }
            .red_lbl{
                color: var(--ion-color-main);
                font-size: 12px;
                font-family: open-regular;     
            }  
            .small_lbl2{
                font-size: 12px;
                color: var(--ion-color-light);
                font-family: open-regular;
                // display: block;
                text-align: left;
            }
        }
    }

    .product_list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FAFAFA;
        padding-left: 16px;
        padding-right: 16px;

        .list_item{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 15px;
            padding-top: 15px;
            font-family: open-regular;

            .price{
                font-family: open-bold;
                font-size: 16px;
            }
            .red_lbl{
                color: var(--ion-color-main);
            }
        }
    }

    .delivery_div{
        padding-left: 16px;
        padding-right: 16px;
        .list_item{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 15px;
            padding-top: 15px;
            font-family: open-regular;

            .price{
                font-family: open-bold;
                font-size: 16px;
            }   

            .red_lbl{
                color: var(--ion-color-main);;
            }
        }
    }

    .red_btn{
        --background : var(--ion-color-main);
        height: 40px;
        --background-activated : var(--ion-color-main);
        margin-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .empty_cart{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .heading_lbl{
            color : var(--ion-color-main);
            font-family: open-bold;
            font-size: 24px;
            display: block;
            margin-top: 20px;
        }
        .small_lbl{
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    }
}