<ion-content>
  <div class="main_content_div">
    <img src="assets/imgs/check.png" class="check">
    <ion-label class="red_lbl">Thank You for <br> your order</ion-label>
    <ion-label class="small_lbl">You can Track the delivery in <br>the "Orders" section.</ion-label>
    <ion-button (click)="goToTrackOrder()" expand="full" shape="round" class="red_btn">Track my Order</ion-button>
    <ion-label class="lbl">Order Something Else</ion-label>
  </div>
</ion-content>
