ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}

.main_content_div{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

    .about_img{
        height: 200px;
        width: 200px;
        display: block;
        margin: auto;
    }
    .content{
        margin-top: 20px;
        font-family: open-regular;
        text-align: justify;
    }
}