<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">

    <div class="upper_div">
      <img src="assets/imgs/back2.png" class="back_arrow" (click)="goBack()">

      <div class="content_div">
        <ion-label class="head_lbl">Log in to your<br> Account</ion-label>

        <div class="div_form">
          <ion-input type="text" class="ip" placeholder="Email"></ion-input>
          <ion-input type="text" class="ip" placeholder="Password"></ion-input>
          <ion-label class="forgot_lbl" (click)="goToForgot()">Forgot ?</ion-label>
        </div>

        <ion-button (click)="goToHome()" expand="full" shape="round" class="red_btn">
          Log in
        </ion-button>
      </div>
    </div>

    <div class="lower_div">
      <ion-label class="bottom_lbl" (click)="goToRegister()">Don't have an account ? <span class="red_lbl">SignUp</span>
      </ion-label>
    </div>
    
  </div>
</ion-content>