.ios_test{
    padding-top: 40px !important;
}
.main_content_div{
    width: 100%;
    .upper_div{
        width: 100%;
        height: 250px;
        // background-color: #FFBAAE;
        padding: 20px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .scooter{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .round_lbl{
            bottom: 35px;
            left: 16px;
            position: absolute;
            font-size: 28px;
            font-family: open-bold;
            color: white;
        }
    }
    .lower_div{
        width: 100%;
        background: white;
        height: 200px;
        z-index: 99999;
        margin-top: -20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        position: absolute;

        .heading_div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
        }

        .card{
            display: flex;
            width: 100%;
            flex-direction: row;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            margin-bottom: 20px;
            position: relative;

            .image_div{
                border-radius: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100px;
                height: 100px;
            }
            .desc_div{
                margin-left: 20px;
                .heading_lbl{
                    font-size: 20px;
                    font-family: open-bold;
                    display: block;
                    text-align: left;
                }
                .small_lbl{
                    font-size: 12px;
                    color: var(--ion-color-light);
                    font-family: open-regular;
                    display: block;
                    text-align: left;
                }
                .rating{
                    color: var(--ion-color-main);
                    font-size: 15px;
                }
                .red_lbl{
                    color: var(--ion-color-main);
                    font-size: 12px;
                    font-family: open-regular;                
                }   
                .heart{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: var(--ion-color-light);
                    font-size: 20px;
                }
                .offer_btn{
                    --background : var(--ion-color-main);
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    width: 70px;
                    z-index: 99999;
                }
            }
        }

        .red_btn{
            --background : var(--ion-color-main);
            height: 40px;
            --background-activated : var(--ion-color-main);
            margin-top: 30px;
            // box-shadow: 0px 6px 15px;
        }
       
    }
}