ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
    .btn_edit{
        position: absolute;
        width: 35px;
        right: 16px;
    }
}

.main_content_div{
    width: 100%;
    padding: 25px;
    margin-top: 50px;

    .user_image{
        height: 100px;
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    .username{
        font-family: open-bold;
        font-size: 18px;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .div_form{
        margin-top: 40px;
        .ip{
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
            border-radius: 5px;
            margin-top: 15px;
            --padding-start : 15px;
            height: 40px;
            background: white;
        }
    }
}