// .ios_test{
//     padding-top: 40px !important;
// }
ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.div_searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;

    .search_bar{
        padding: 0px;
        width: 90%;
    }
    .menu_icon{
        width: 20px;
        height: 20px;
    }
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    .heading_lbl{
        font-size: 20px;
        font-family: open-bold;
        display: block;
        text-align: left;
        color: var(--ion-color-main);
    }
    .small_lbl{
        font-size: 12px;
        color: var(--ion-color-light);
        font-family: open-regular;
    }
}
.main_content_div{
    padding: 16px;

    // .div_searchbar{
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: space-between;
    //     .search_bar{
    //         padding: 0px;
    //         width: 90%;
    //     }
    //     .menu_icon{
    //         width: 20px;
    //         height: 20px;
    //     }
    // }

    .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;

        .heading_lbl{
            font-size: 20px;
            font-family: open-bold;
            display: block;
            text-align: left;
            color: var(--ion-color-main);
        }
        .small_lbl{
            font-size: 12px;
            color: var(--ion-color-light);
            font-family: open-regular;
        }
    }

    .slider_div{
        .card{
            margin-top: 15px;
            .back_image{
                height: 200px;
                width: 250px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                position: relative;

                .time_lbl{
                    padding: 10px;
                    position: absolute;
                    background: white;
                    bottom: 15px;
                    right: 15px;
                    border-radius: 25px;
                    font-size: 12px;
                    font-family: open-regular;
                }
            }
            .heading_lbl{
                font-size: 20px;
                font-family: open-bold;
                display: block;
                margin-top: 10px;
                text-align: left;
            }
            .price_rating{
                display: flex;     
                height: 25px;
                align-items: flex-start;;           
                .rating{
                    color: var(--ion-color-main);
                    font-size: 15px;
                    margin-left: 10px;
                }
                .red_lbl{
                    color: var(--ion-color-main);
                    font-size: 12px;
                    font-family: open-regular;                
                }
                .small_lbl{
                    font-size: 12px;
                    color: var(--ion-color-light);
                    font-family: open-regular;
                }
            }
        }
    }

    .card_div{
        .heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;

            .heading_lbl{
                font-size: 20px;
                font-family: open-bold;
                display: block;
                text-align: left;
                color: var(--ion-color-main);
            }
            .small_lbl{
                font-size: 12px;
                color: var(--ion-color-light);
                font-family: open-regular;
            }
        }
        .card{
            display: flex;
            width: 100%;
            flex-direction: row;
            border-bottom: 0.5px solid rgba(0,0,0,0.3);
            padding-bottom: 10px;
            padding-top: 10px;

            .image_div{
                border-radius: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100px;
                height: 100px;
            }
            .desc_div{
                margin-left: 20px;
                .heading_lbl{
                    font-size: 20px;
                    font-family: open-bold;
                    display: block;
                    text-align: left;
                }
                .small_lbl{
                    font-size: 12px;
                    color: var(--ion-color-light);
                    font-family: open-regular;
                    display: block;
                    text-align: left;
                }
                .rating{
                    color: var(--ion-color-main);
                    font-size: 15px;
                }
                .red_lbl{
                    color: var(--ion-color-main);
                    font-size: 12px;
                    font-family: open-regular;                
                }   
            }
        }
    }
}