ion-toolbar:last-child {
    --border-width: 0px;
}
.header-md:after {
    background: none;
}
.header_div{
    width: 100%;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .title{
        color: black; 
        font-family: open-regular;
    }

    .btn_back {
        position: absolute;
        left: 16px;
        width: 35px;
    }
}
// .ios_test{
//     padding-top: 40px !important;
// }
.main_content_div{
    width: 100%;
    // padding: 16px;

    // .header_div{
    //     width: 100%;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     position: relative;

    //     .btn_back {
    //         position: absolute;
    //         left: 16px;
    //     }
    // }

    .content_div{
        padding: 16px;
        width: 100%;
        .small_lbl{
            font-family: open-regular;
            font-size: 12px;
            display: block;
        }
        .address_div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 20px;

            .address_lbl{
                width: 60%;
            }

            .red_lbl{
                color: var(--ion-color-main);
                font-family: open-regular;
            }
            .red_lbl2{
                color: var(--ion-color-main);
                font-family: open-bold;
            }
        }

        .payment_div{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 20px;

            .small_lbl{
                font-family: open-regular;
                font-size: 12px;
                display: block;
            }

            .red_lbl{
                color: var(--ion-color-main);
            } 
        }

        .payment_method{
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 15px;
            .list_item{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 50px;
                border-radius: 5px;
                box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
                background: #FAFAFA;
                padding-left: 16px;
                padding-right: 16px;
                position: relative;
                margin-bottom: 15px;

                .right_img{
                    position: absolute;
                    right: 16px;
                }
            }
        }

        .coupon_div{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid #E8E8E8;
            height: 50px;
            align-items: center;

            .small_lbl{
                font-size: 12px;
                font-family: open-regular;
                width: 70%;
            }
            ion-input{
                width: 30%;
                color: var(--ion-color-main);
                --placeholder-color : var(--ion-color-light);
            }
        }

        .summary_div{
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #E8E8E8;

            .head{
                font-family: open-bold;
                font-size: 20px;
            }
            .summary_sub{
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-direction: row;
                margin-top: 10px;

                .price{
                    font-family: open-bold;
                    font-size: 16px;
                }
            }
        }

        .red_btn{
            --background : var(--ion-color-main);
            height: 40px;
            --background-activated : var(--ion-color-main);
            margin-top: 30px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}