.ios_test{
    padding-top: 40px !important;
}
.main_content_div{
    width: 100%;
    .upper_div{
        width: 100%;
        height: 250px;
        background-color: var(--ion-color-main);
        padding: 20px;
        position: relative;

        .heading_lbl{
            font-size: 24px;
            font-family: open-bold;
            display: block;
            text-align: left;
            color: white;
        }
        .small_lbl{
            font-size: 12px;
            color: white;
            font-family: open-regular;
            display: block;
        }
        .round_lbl{
            background: white;
            padding: 10px;
            border-radius: 25px;
            background: white;
            padding: 10px;
            border-radius: 25px;
            margin-top: 20px;
            display: block;
            width: max-content;

        }
        .scooter{
            width: 150px;
            position: absolute;
            right: 0;
            bottom: 10px;
        }
    }
    .lower_div{
        width: 100%;
        background: white;
        height: 200px;
        z-index: 99999;
        margin-top: -20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        position: absolute;

        .card_div{
            // margin-top: 10px;
            .card{
                margin-top: 15px;
                .back_image{
                    height: 200px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    position: relative;
    
                    .time_lbl{
                        padding: 10px;
                        position: absolute;
                        background: var(--ion-color-main);
                        bottom: 15px;
                        right: 15px;
                        border-radius: 25px;
                        font-size: 12px;
                        font-family: open-regular;
                        color: white;
                    }
                }
                .heading_lbl{
                    font-size: 20px;
                    font-family: open-bold;
                    display: block;
                    margin-top: 10px;
                }
                .price_rating{
                    display: flex;     
                    height: 25px;
                    align-items: center;           
                    .rating{
                        color: var(--ion-color-main);
                        font-size: 20px;
                    }
                    .red_lbl{
                        color: var(--ion-color-main);
                        font-size: 12px;
                        font-family: open-regular;                
                    }
                    .small_lbl{
                        font-size: 12px;
                        color: var(--ion-color-light);
                        font-family: open-regular;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}   